/* ----------------IMPORT GOOGLE FONTS ------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
/* ----------------Text Fonts ------------------- */
body {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #838383;
  font-style: normal;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #18181c;
  line-height: 1.3;
}

h1, .h1 {
  font-size: 48px;
  margin-bottom: 25px;
}

h2, .h2 {
  font-size: 42px;
  margin-bottom: 25px;
  color:#fff;
}

h3, .h3 {
  font-size: 36px;
  margin-bottom: 25px;
}

h4, .h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

h5, .h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 24px;
  font-weight: 400;
  color: #838383;
}
p:last-child {
  margin-bottom: 0;
}

.p-news{
  font-weight: bold;
  color:#000;
}

.p-light{
  color:#000;  
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #838383;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

ul.nosyely_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section_title {
  position: relative;
  margin-bottom: 25px;
}
.section_title .title {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 36px;
}

.section_title .title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 5px #66bd7e;
  left: 0;
  top: 0;
}


.title-social{
  text-transform: uppercase;
  color: #66bd7e;
  
}


.bg-img {
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.bg-img .overlay_dark {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.brand_item {
  opacity: 0.3;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.brand_item img {
  display: block;
  max-width: 130px;
  margin: 0 auto;
}
.brand_item:hover {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}


blockquote {
  padding: 75px 25px 25px;
  font-size: 20px;
  text-align: center;
  margin: 25px 50px;
}
blockquote:before {
  content: open-quote;
  display: block;
  font-size: 134px;
  font-family: Georgia, Verdana, Roboto, serif;
  line-height: 0.2;
  padding: 0;
  opacity: 0.2;
  font-weight: 600;
  margin: 0;
}
blockquote p {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  font-style: italic;
}

.text-muted {
  color: #868e96 !important;
  font-size: 14px;
  line-height: 2.1;
}

strong {
  font-weight: 700;
}

.text-xs {
  font-size: 11px;
}

.text-xl {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

img {
  max-width: 60%;
}

@media (max-width: 768px) {
  h1, .h1 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  h2, .h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3, .h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  h4, .h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  h5, .h5 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  h6, .h6 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .hide-md {
    display: none !important;
  }
}
/* --------- RESPONSIVE ----------- */
@media all and (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-right-xs {
    text-align: right;
  }
}

/* ----------------colors------------------- */
.color-gray {
  color: #f0f2f6 !important;
}

.color-dark-gray {
  color: #838383 !important;
}

.color-dark {
  color: #333333 !important;
}

.color-black {
  color: #18181c !important;
}

.color-light {
  color: #ffffff !important;
}

.color-green {
  color: #6cc47f !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-gray {
  background-color: #f0f2f6 !important;
}

.bg-black {
  background-color: #18181c !important;
}


/* --------------PADDING STYLE-------------- */

.p100 {
  padding: 100px !important;
}



.pt100 {
  padding-top: 50px !important;
}


.pb100 {
  /* padding-bottom: 100px !important; */
  background-color: #f0f2f6;
}

.pt400 {
  padding-top: 50px !important;
}


.pb400 {
  padding-bottom: 100px !important;
  background-color: #fff;
}

.pb300 {
  /* padding-bottom: 100px !important; */
  background-color: #01f594;
}


/*  -----------------MARGIN STYLE----------------------- */

.mb50 {
  margin-bottom: 50px !important;
}

/*   HEADER */
header {
  min-height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
header .menu {
  position: relative;
}
header .logo {
  padding-top: 0;
  padding-bottom: 0;
}
header .logo img {
  float: left;
  max-width: 160px;
  margin-right: 3px;
}
header ul.menu li a.nav-link {
  padding: 20px 12px !important;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  color: #0c0c0c;
}
header ul.menu li a.nav-link:hover,
header ul.menu li a.nav-link.active {
    background: #000;
    color: #fff;
    font-size: 1.5em;
}
header ul.menu .search_btn {
  padding: 16px 25px !important;
  color: #000000;
}
header ul.menu .search_btn a {
  font-size: 30px;
}
header li ul {
  display: none;
  visibility: hidden;
}
header li ul.sub_menu {
  position: absolute;
  background: #333333;
  min-width: 250px;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 42px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 42px rgba(0, 0, 0, 0.08);
}
header li ul.sub_menu li {
  display: block;
}
header li ul.sub_menu li a {
  color: #999999 !important;
  padding: 7px 10px;
  display: block;
  margin-left: 0;
  line-height: 22px;
  word-break: break-word;
}
header li ul.sub_menu li a:hover {
  color: #171515 !important;
  transform: translate3d(2px, 0, 0);
  -webkit-transform: translate3d(2px, 0, 0);
}

.navbar {
  padding: 0;
}

header.sticky_header {
  background-color: #ffffff;
  margin: 0;
  padding: 5px;
  -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.navbar-toggler {
  border: 1px solid #fff;
  color: #000;
  padding: 5px 10px;
  font-size: 22px;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 !important;
          box-shadow: 0 0 0 !important;
  cursor: pointer;
  border-radius: 2px;
}

@media (min-width: 767px) {
  header li:hover > ul {
    display: block;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  header {
    background-color: #fff;
    margin: 0;
    -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  header .container {
    padding: 15px !important;
  }

  header li > ul {
    position: static;
    visibility: visible;
    width: 100%;
  }
}
/*  Footer */
footer {
  padding: 50px 0 40px;
  background-color: #30393C;
  background: linear-gradient(90deg, #30393C 77%,#292D30 30%);
}
footer .footer_box {
  position: relative;
  margin-top: 50px;
}
footer .footer_box h4.footer_title {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 18px;
  color: #ffffff;
}
footer .footer_box h4.footer_title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 3px #66BD7E;
  left: 0;
  top: 0;
}
footer .footer_header {
  margin-bottom: 30px;
}

.h5-footer{
  padding-top: 20px;
  color:#fff;
}


/*  Buttons */
.btn {
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 0;
  outline: 0 !important;
  border: none;
  cursor: pointer;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-donate{
  margin-top: 15px;
}
.btn:hover {
  color: #18181c;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-sm {
  padding: 10px 20px;
}

.btn-lg {
  padding: 18px 50px;
}

.btn_center {
  margin: 0 auto;
  display: block;
}

.btn.btn-shadow {
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
}
.btn.btn-shadow:hover {
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.btn-rounded {
  border-radius: 30px;
}

.btn-primary {
  background-color: #66bd7e;
  border: solid 1px #66bd7e;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary:hover {
  background-color: #18181c;
  color: #ffffff;
  border: solid 1px #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}



.btn-light {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-light:hover {
  color: #ffffff;
  border: solid 1px #18181c;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-dark {
  background-color: #333333;
  border: solid 1px #18181c;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-dark:hover {
  color: #18181c;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}






/*  Sec box */
.sec_box {
  position: relative;
  padding: 55px 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.sec_box .sec_highlight {
  background-color: #f50136;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  color: #fff;
}
.sec_box .sec_header h4 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}
.sec_box .sec_header h6 {
  font-size: 14px;
  text-transform: capitalize;
  color: #838383;
  font-weight: 400;
}

.sec_header img{
  width: 25%;
}
.sec_box .sec_tag {
  padding: 15px 0;
  text-transform: capitalize;
  color: #18181c;
  font-size: 48px;
  font-weight: 700;
}
.sec_box .sec_tag sup {
  font-size: 24px;
  font-weight: 400;
  top: -15px;
  left: -7px;
  color: #838383;
}
.sec_box .sec_features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec_box .sec_features ul li {
  padding: 7px;
  font-size: 14px;
  font-weight: 400;
}
.sec_box .sec_footer {
  margin-top: 30px;
}
.sec_box:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.sec_box:hover h2 {
  color: #000;
  text-transform: uppercase;
}

.sec_box.active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

/*  ----------------------------------------------------

/*  Event box
-------------------------------------------------------- */
.event_box {
  margin: 70px 0;
}
.event_box .event_info {
  position: relative;
  margin: 30px 0;
}
.event_box .event_info .event_title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #18181c;
  position: relative;
  padding: 15px 0;
  line-height: 1.3;
}
.event_box .event_info .event_title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 4px #f50136;
  left: 0;
  top: 0;
}
.event_box .event_info .speakers strong {
  font-size: 14px;
  font-weight: 700;
  color: #18181c;
}
.event_box .event_info .speakers span {
  font-size: 14px;
  font-weight: 400;
}
.event_box .event_info .event_date {
  color: #f50136;
  font-size: 12px;
  font-weight: 700;
}
.event_box .readmore_btn {
  margin-top: 25px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 28px;
  font-size: 12px;
  font-weight: 700;
  color: #f50136;
}
.event_box .readmore_btn:hover {
  color: #18181c;
}


/*  tabs */
.table.event_calender {
  position: relative;
  min-width: 1000px;
}
.table.event_calender thead.event_title {
  background-color: #f50136;
  color: #ffffff;
  border: 0;
}
.table.event_calender thead.event_title th {
  vertical-align: bottom;
  border: 0;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}
.table.event_calender thead.event_title th i {
  font-size: 32px;
  float: left;
  line-height: 1;
}
.table.event_calender thead.event_title th span {
  margin-left: 10px;
  padding: 3px 0;
  display: inline-block;
}
.table.event_calender tbody {
  background-color: #f0f2f6;
}
.table.event_calender tbody td, .table.event_calender tbody th {
  padding: 30px 25px;
  border: 0;
  vertical-align: middle;
  text-align: left;
}
.table.event_calender tbody td img, .table.event_calender tbody th img {
  border-radius: 4px;
  display: block;
  max-width: 70px;
}
.table.event_calender tbody td.event_date {
  font-weight: 600;
  font-size: 30px;
  color: #000;
}
.table.event_calender tbody td.event_date span {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.table.event_calender tbody td.event_place h5 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
}
.table.event_calender tbody td.event_place h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
.table.event_calender tbody td.buy_link a {
  text-transform: capitalize;
  font-weight: 600;
  color: #f50136;
  text-decoration: underline;
  line-height: 24px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.table.event_calender tbody td.buy_link a:hover {
  color: #18181c;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

/* Nav */

.nav_menu {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  float: none;
  width: auto;
  display: inline-block;
  list-style: none;
  position: relative;
  background-color: #ffffff;
  top: -14px;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
}
.nav_menu li {
  display: inline-block;
  border: solid 2px transparent;
  border-radius: 14px;
  margin: 0;
  height: 40px;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  font-weight: 600;
  color: #000000;
}
.nav_menu li a {
  border-radius: 50px;
  padding: 12px 8px;
  font-weight: 600;
  border: solid 2px transparent;
}
.nav_menu li a:hover {
  border: solid 2px #f50136;
}
.nav_menu li span {
  border-radius: 50px;
  padding: 12px 8px;
  border: solid 2px #f50136;
}



/* footer extra*/
.p-footer{
  color: #fff;

}

.btn-donate-ft{
  margin-top: -5px;
}


